<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Dealhunter, la publicidad revolucionada.</title>
  <style>
      a,
      a:hover {
          text-decoration:none !important;
      }

      h1, h2, h3, h4 ,h5 {
          margin:0px !important;
      }
      p {
          font-size: 14px;
          line-height:20px;
          color:#333;
      }



  </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; background-color:#cbebfa;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" >
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#cbebfa">
  <tr>
    <td>
      <!--header-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="middle" align="center" height="100" style="background:#f8fdff;" bgcolor="#fff"><img src="http://cursosflipstudios.com.ar/imgdeal/logo-landing.png" alt="dealhunter, Tu club privado de viajes y escapadas" width="258" height="100" longdesc="http://www.dealhunter.com"></td>
        </tr>
        <tr>
          <td valign="middle" align="center" style="background:#c1beb6; color:#fff;" bgcolor="#ff4b3d">
            <table width="600" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="58" width="480"><p style="letter-spacing:-0.6px; color:#fff;">Bienvenido a DealHunter</p></td>
                <td width="120">
                  <table width="120" border="0" cellspacing="0" cellpadding="10" style="background:#899fac; color:#fff;" bgcolor="#5d717d">
                    <tr>
                      <td align="center" width="120"><a href="http://localhost:3000" style="color:#fff; font-size:12px; text-decoration:none; text-align:center;">VER OFERTAS</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- end header-->
    </td>
  </tr>
  <tr>
    <td valign="middle" align="top">
      <!--body-->
      <!--divider-->
      <table width="600" height="40" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="40"></td>
        </tr>
      </table>
      <!--end divider-->

      <!--content one-->
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#fff;" bgcolor="#fff">
        <tr>
          <td width="330" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="20">
              <tr>
                <td style="font-size: 14px; line-height:20px; color:#333;">
                  <p>Hola<%= @user.email %> !</p>
                  <p>Somos <strong style="color:#3253ff;">Dealhunter</strong>, una nueva forma de encontrar las mejores ofertas y promociones premium de tus marcas favoritas. </p>
                  <p>Además, nuestro sistema es totalmente gratis, y se amolda a tu disponibilidad, asique preparate para disfrutar!.</p>
                  <p>Con <strong style="color:#3253ff;">DealHunter</strong> hoy sos vos quien decide qué publicidad te interesa. Se acabaron los llamados, los mensajes de texto y los correos de texto a cualquier hora. </p>
                  <p>Es momento de recibir ofertas y promociones verdaderas, conocer marcas nuevas y ahorrar! </p>
                  <p>Muchas gracias por suscribirte<br>
                    <strong>El equipo de DealHunter</strong></p>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" width="270"><img src="http://cursosflipstudios.com.ar/imgdeal/mailer.png" width="270" height="270" style="margin-top: 50px;"></td>
        </tr>
        <tr>
          <td colspan="2" valign="middle" align="center" height="21"><img src="https://s3-us-west-2.amazonaws.com/vontrip/img+html+mailer+app/divider.jpg" width="551" height="21"></td>
        </tr>

        <tr>
          <td colspan="2" valign="middle" align="center"><h2 style="color:#3253ff; padding:10px 0;">Encontrá las mejores ofertas<br> para vos</h2></td>
        </tr>
      </table>
      <!--end content one-->

      <!-- content two-->
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF;" bgcolor="#fff">

        <tr>
          <td align="center">
            <table width="600" border="0" cellspacing="0" style="padding:10px 30px 20px 30px;">
              <tr>
                <td align="center">
                  <table width="220" height="60" border="0" cellspacing="0" cellpadding="10" style="background:#3253ff; color:#ffffff;" bgcolor="#ff4b3d">
                    <tr>
                      <td align="center"><a href="http://localhost:3000" style="color:#fff; text-decoration:none; font-size:20px; font-weight:bold;">VER OFERTAS</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!--end content two-->

      <!--divider-->
      <table width="600" height="40" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="40"></td>
        </tr>
      </table>
      <!--end divider-->

      <!--end body-->
    </td>
  </tr>
  <tr>
    <td>
      <!--footer-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="middle" align="center" style="background:#fff;" height="110" bgcolor="#fff">
            <!--pre-footer-->
            <table width="600" height="110" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="512">
                  <p style="margin:5px 0; color:#3253FF;">Atención al Cliente</p>
                  <h3 style="font-weight:normal; margin:0px;">0800-345-DEAL(3325)</h3>
                  <p style="margin:0px; font-size: 12px; line-height:20px;"><a href="mailto:info@dealhunter.com" style="color:#333; text-decoration:none;">info@dealhunter.com</a></p>
                </td>
                <td width="88">
                  <table width="88" border="0" cellspacing="0" cellpadding="0" height="34">
                    <tr>
                      <td width="32"><a href="http://www.facebook.com/dealhunterArgentina"><img src="https://s3-us-west-2.amazonaws.com/vontrip/img+html+mailer+app/icon-fb.jpg" width="32" height="24" alt="Facebook"></a></td>
                      <td width="32"><a href="http://www.twitter.com/dealhunterArg"><img src="https://s3-us-west-2.amazonaws.com/vontrip/img+html+mailer+app/icon-twitter.jpg" width="32" height="24" alt="Twitter"></a></td>
                      <td width="24"><a href="https://www.google.com"><img src="https://s3-us-west-2.amazonaws.com/vontrip/img+html+mailer+app/icon-gPlus.jpg" width="24" height="24" alt="google"></a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--end pre-footer-->
          </td>
        </tr>
        <tr>
          <td valign="middle" align="center" style="background:#fcfcfc;" height="70" bgcolor="#fcfcfc">
            <!--post-footer-->
            <!--end post-footer-->
          </td>
        </tr>
      </table>
      <!--end footer-->
    </td>
  </tr>
</table>
</body>
</html>